<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../block/head') %>
    <link rel="stylesheet" href="/css/admin/mainleft.css">
    <title>Express manage</title>
</head>
<body>
    <%- include('./block/header') %>
  <div class="bg-light" style="height: 130px;"></div>  
  <div class="d-flex">
    <div class="col-3">
          <div class="sidenav col-3 border bg-primary">
            <%  if(typeof user_manage !== 'undefined'){
                  user_manage.join.forEach(val =>{
                    if(val.role === -7){
            %>
            <a class="border-bottom bg-dark" data-toggle="collapse" href="#tc">Quản lý hệ thống</a>
            <a class="border-bottom" href="/manage/events"><img width="30px" src="/images/icon/sukien-removebg-preview.png">&nbsp;  Quản lý sự kiện</a>
            <a class="border-bottom" href="/manage/members/personCharge"><img width="30px" src="/images/icon/phutrach-removebg-preview.png">&nbsp;  Quản lý người phụ trách</a>
            <a class="border-bottom" href="#members" data-toggle="collapse"><img width="30px" src="/images/icon/thanhvien.png">&nbsp;  Quản lý thành viên</a>
            <a href="/manage/members/member-register" class="border-bottom collapse bg-info" id="members">.Sinh viên đăng ký</a>
            <a href="/manage/members/" class="border-bottom collapse bg-info" id="members">.Thành viên</a>
            <a href="/manage/members/active" class="border-bottom collapse bg-info" id="members">.Xếp loại năng nổ</a>
            <a class="border-bottom" href="/manage/members/sendmail"><img width="30px" src="/images/icon/email-removebg-preview.png">&nbsp;  Gửi Email</a>
            <a class="border-bottom" href="/manage/members/chat"><img width="40px" src="/images/icon/chat-removebg-preview.png">&nbsp;Quản lý nhóm chat</a>
            <% }else{ %>
            <a class="border-bottom bg-dark" data-toggle="collapse" href="#tc">Phụ trách quản lý</a>
            <a class="border-bottom" href="/manage/registerEvent/events"><img width="30px" src="/images/icon/sukien-removebg-preview.png">&nbsp;  Quản lý sự kện</a>
            <a class="border-bottom" href="/manage/registerEvent/Details"><img width="30px" src="/images/icon/chitietsukien-removebg-preview.png">&nbsp;  Quản lý chi tiết sự kiện</a>
            <a class="border-bottom" href="/manage/registerEvent/memberRegis"><img width="30px" src="/images/icon/thanhvien.png">&nbsp;  Quản lý thành viên đăng ký</a>
            <a class="border-bottom" href="/manage/posts"><img width="30px" src="/images/icon/baiviet.png" alt="">&nbsp;  Quản lý bài viết</a>
            <a class="border-bottom" href="/manage/registerEvent/manage-event-chat"><img width="40px" src="/images/icon/chat-removebg-preview.png">&nbsp;Quản lý nhóm chat</a>
            <% }})} %>


          </div>
    </div>
    <div class="col-9 p-5" id="original">
        <%- include(`./pages/${page}`) %>
    </div>
  </div>
</body>
 <%- include('../block/footer') %>
</html>


<!-- <script>
      function chat(){
                $.ajax({
                    url : "/manage/members/chat",
                    type : "get",
                    contentType: "application / x-www-form-urlencoded; charset = UTF-8",
                    success : function (data){
                        $("#original").replaceWith(data)
                    },
                    error: (err)=>{
                      console.log(err)
                    }
                });
            }
</script> -->



