<div class="col-12 p-2 bg-white shadow rounded-3">
    <div class="col-12 text-center bg-light text-primary fw-bold"><i>GROUP CHAT</i></div>
    <div class="scroll">
        <ul id="messages">
        </ul>
    </div>
    <form id="chat_form">
        <% if(typeof user !== 'undefined'){ %>
        <input id="chatname" type="hidden" value="<%=user.name%>">
      <input  class="bg-light form__input" id="chat_mes" type="text" placeholder="enter a message..." autocomplete="off">
      <button class="btn btn-danger" id="send-chat">Send</button>
      <% } %>
  </form>
  </div>
  
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
  
    var chatform = document.querySelector('#chat_form');
    var chatmess = document.querySelector('#chat_mes');
    var chatname = document.querySelector('#chatname');
  
  
    chatform.addEventListener('submit', (e) => {
      e.preventDefault(); // khong cho load form
      const message = chatmess.value
      const user = chatname.value
      socket.emit('on-chat', {message, user});
      chatmess.value = ''
    });
  
    const diplaychat = document.querySelector('#messages')
    
    socket.on('userchat', function(message) {
        const chatname = document.createElement('i')
        chatname.textContent = `${message.user}:`
  
        diplaychat.appendChild(chatname)

        const chatitem = document.createElement('li')
        chatitem.textContent = message.message
  
        diplaychat.appendChild(chatitem)
  
  
    })
  
    socket.on('userchatload', function(msges) {
        const chatname = document.createElement('i')
        chatname.textContent = `${msges.chat.user}:`
  
        diplaychat.appendChild(chatname)

        const chatitem = document.createElement('li')
        chatitem.textContent = msges.chat.message
  
        diplaychat.appendChild(chatitem)
    })
  </script>
  <style>
      .sendchat{
          background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff;
      }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; text-align: end; font-style: italic; border-bottom: 1px solid rgb(196, 195, 199);
                       border-radius: 30px;
                       width: 25rem;
                       margin-left: 40%;
                       color: rgb(132, 63, 196);
                     }
      #messages > li:nth-child(odd) { background: #efefef; }
      #messages > i {
          color: black;
          font-weight: 500;
          margin-left: 6px;
      }
      .scroll{
          height: 490px;
          overflow-y: scroll;
      }
    </style>