<div class=" bg-light col-12 fst-italic shadow">
    <div class="d-flex">
        <div class="ms-">
            <a href="/manage/events" class="btn-sm btn-primary me-2 rounded-circle">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="fw-bold text-primary col-11 text-center ps-4">Thêm hoạt động</div>
    </div>
    <div class="card-body">
        <form action="/manage/events/save" method="post" enctype="multipart/form-data">
          <div class="d-flex">
            <div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Tên hoạt động:</label>
                <input name="name" type="text" class="form__input bg-light">
              </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Số lượng thành viên:</label>
                <input name="number" type="number" class="form__input bg-light">
              </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Phí hoạt động:</label>
                <input name="fee" type="number" class="form__input bg-light">
              </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Yêu cầu:</label>
                <select name="limit" class="form__input bg-light">
                  <option></option>
                  <option value="3">> 3 năm</option>
                  <option value="2">> 2 năm</option>
                  <option value="1">> 1 năm</option>
                </select>
              </div>
            </div>
            <div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Ngày bắt đầu:</label>
                <input name="startday" type="datetime-local" class="form__input bg-light">
              </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Ngày kết thúc:</label>
                <input name="endday" type="datetime-local" class="form__input bg-light">
              </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Hình ảnh:</label>
                <input name="image" type="file" class="form__input bg-light">
              </div>
            </div>
          </div>
            
            <!-- <input type="hidden" name="userPoster" value="61814b43f95e782137ba3f30"> -->
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Lưu <i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
            </div>
          </form>
    </div>
  </div>
  <script src="/path/to/date-and-time.min.js"></script>












